

html,body{
   font-family:Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    background-color:rgb(194, 201, 203);
   
    padding:20px;
    
}
h1{
    text-align: center;
    color:rgb(23, 23, 103);
    
}
table{
    width: 100%;
    max-width:1100px;
    margin:auto;
    border-collapse: collapse;
    background-color: white;
    border-radius:10px;
        
}
th,td{
    border:1px solid #ccc;
    padding: 12px;
    text-align:center;

}
th{
   background-color: #1f4e79;
    color: white;
}
.break{
    background-color: #fff2cc;
    font-weight: bold;
}
.lab{
    background-color: #cef0c2;
    font-weight: bold;
}
.guest{
    background-color: #c8e1f7;
    font-weight: bold;
}



